In [1]:
import pandas as pd
import numpy as np

import spacy
import nltk

from collections import Counter

In [3]:
# пришлось провести манипуляции из 1 урока отдельно с train и test, чтоб иметь 2 раздельных датасета
# также я выбросил шаг с lower, т.к. nltk чувствителен к регистру
train_df = pd.read_pickle("/content/train_result.pkl")
test_df = pd.read_pickle("/content/test_result.pkl")

In [ ]:
train_df.head()

   id  ...                                   tweet_lemmatized
0   1  ...  [father, dysfunctional, selfish, drag, kid, dy...
1   2  ...  [thanks, lyft, credit, use, cause, offer, whee...
2   3  ...                                  [bihday, majesty]
3   4  ...    [model, love, yoyou, take, yoyou, time, yoyour]
4   5  ...                  [factsguide, society, motivation]

[5 rows x 8 columns]

In [ ]:
test_df.head()

      id  ...                                   tweet_lemmatized
0  31963  ...  [studiolife, aislife, requires, passion, dedic...
1  31964  ...  [white, supremacist, want, everyone, see, new,...
2  31965  ...  [safe, way, heal, acne, altwaystoheal, healthy...
3  31966  ...  [hp, cursed, child, book, reservation, already...
4  31967  ...  [rd, bihday, amazing, hilarious, nephew, eli, ...

[5 rows x 7 columns]

### Задача 1

In [ ]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
def count_ners(data):
  cnt = Counter()
  ners = {}

  for ct in data:
    doc = nlp(ct)
    for e in doc.ents:
      cnt[e.text] += 1
      ners[e.text] = e.label_

  result = [(k, v, cnt[k]) for (k,v) in ners.items()]

  return pd.DataFrame(result, columns=['Word', 'NER', 'Count'])

In [ ]:
train_ners = count_ners(train_df['clean_tweet'])

train_ners.head()

                   Word   NER  Count
0                   pdx   ORG      1
1                bihday  DATE    694
2              tomorrow  DATE    387
3  the next school year  DATE      1
4              the year  DATE     17

In [ ]:
train_ners.sort_values('Count', ascending=False).head(20)

           Word       NER  Count
29        today      DATE   1016
1        bihday      DATE    694
14       friday      DATE    439
2      tomorrow      DATE    387
42        first   ORDINAL    338
113      summer      DATE    332
20       sunday      DATE    331
73          one  CARDINAL    325
26      tonight      TIME    292
21        s day      DATE    291
32      morning      TIME    214
169  fathersday      DATE    214
109    saturday      DATE    202
132     america       GPE    157
28       monday      DATE    155
204        days      DATE    151
374     orlando       GPE    131
116         two  CARDINAL    117
283      london       GPE    117
286        june      DATE    115

Видим, что в train чаще всего нам попадались даты, числительные и географические объекты.

In [ ]:
train_ners[train_ners['NER'].isin(['GPE', 'ORG', 'PERSON'])].sort_values('Count', ascending=False).head(20)

        Word     NER  Count
132  america     GPE    157
374  orlando     GPE    131
283   london     GPE    117
444      tbt     ORG    100
48    selfie     GPE     89
591       us     GPE     87
111      aww     ORG     81
54   florida     GPE     68
269       uk     GPE     65
361    india     GPE     53
479      gop     ORG     52
177       nd     GPE     49
84     japan     GPE     48
916    miami     GPE     46
50        hu  PERSON     44
323   france     GPE     39
249  germany     GPE     37
972    spain     GPE     36
348   russia     GPE     35
88     trump  PERSON     34

Если ограничить выборку по классу, то имеем приоритет со стороны географических объектов, но так же множество организаций.
  

С определением организаций есть определённая сложность - многие междометия попали в список организаций (aww, tbt).

Персоны, в основном, определены верно.

Посмотрим на тест

In [ ]:
test_ners = count_ners(test_df['clean_tweet'])

test_ners.head()

                   Word       NER  Count
0             rd bihday       ORG      1
1      ahmir uncle dave    PERSON      1
2  neuro bass lifestyle    PERSON      1
3                   one  CARDINAL    162
4                  half  CARDINAL     22

In [ ]:
test_ners.sort_values('Count', ascending=False).head(20)

           Word       NER  Count
6         today      DATE    564
26       bihday      DATE    376
25       friday      DATE    206
28     tomorrow      DATE    198
57        first   ORDINAL    195
175       s day      DATE    170
235     tonight      TIME    166
17       summer      DATE    164
3           one  CARDINAL    162
44       sunday      DATE    156
53   fathersday      DATE    127
74     saturday      DATE    109
35      morning      TIME     98
290     orlando       GPE     81
38       monday      DATE     80
459        days      DATE     72
148         tbt       ORG     70
8        london       GPE     65
299         two  CARDINAL     64
55           us       GPE     60

В test чаще всего нам попадались даты, числительные и географические объекты.

In [ ]:
test_ners[test_ners['NER'].isin(['GPE', 'ORG', 'PERSON'])].sort_values('Count', ascending=False).head(20)

                                                   Word     NER  Count
290                                             orlando     GPE     81
148                                                 tbt     ORG     70
8                                                london     GPE     65
55                                                   us     GPE     60
119                                             america     GPE     58
128                                                 aww     ORG     39
110                                               trump  PERSON     36
315                                              selfie  PERSON     33
918                                               japan     GPE     30
663                                             florida     GPE     29
344                                                  hu  PERSON     29
885                                                  nd     ORG     28
607                                                  uk     GPE     28
238                                               india     GPE     25
1533                                              miami     GPE     25
140                                                 gop     ORG     24
536                                               texas     GPE     20
632   feminismiscancer feminismisterrorism feminismm...  PERSON     20
58                                                paris     GPE     20
890                                                 nba     ORG     18

Ситуация идентична train

## Задание 2

In [4]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [12]:
def count_ners_nltk(data):
  cnt = Counter()
  ners = {}

  for ct in data:
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(ct))):
      if hasattr(chunk, 'label'):
        cnt[' '.join(c[0] for c in chunk)] += 1
        ners[' '.join(c[0] for c in chunk)] = chunk.label()

  result = [(k, v, cnt[k]) for (k,v) in ners.items()]

  return pd.DataFrame(result, columns=['Word', 'NER', 'Count'])

In [13]:
nltk_nres_train = count_ners_nltk(train_df['clean_tweet'])

In [14]:
nltk_nres_train.head()

Empty DataFrame
Columns: [Word, NER, Count]
Index: []

Почему-то пусто

In [16]:
nltk_nres_test = count_ners_nltk(test_df['clean_tweet'])

In [17]:
nltk_nres_test.head()

Empty DataFrame
Columns: [Word, NER, Count]
Index: []

И тут тоже. Почему?

Я проверял nltk на фразах, где есть uppercase (например, имена или названия начинаются с большой буквы) - и там всё работает

In [20]:
count_ners_nltk(['hello Mr Anderson how do you like New York'])

       Word     NER  Count
0  Anderson  PERSON      1
1  New York     GPE      1

Вот пример. Видимо, в твитах с такими данными проблема.

На мой взгляд, Spacy работает лучше.  

С другой стороны, он довольно много ошибается на странных и незнакомых ему словах