Я неправильно понял задание и всё сломал. Домашка в процессе :(

In [32]:
import pandas as pd
import numpy as np

import spacy
import nltk

from collections import Counter

In [5]:
df = pd.read_pickle("/content/result.pkl")

In [6]:
df.head()

   id  ...                                   tweet_lemmatized
0   1  ...  [father, dysfunctional, selfish, drag, kid, dy...
1   2  ...  [thanks, lyft, credit, use, cause, offer, whee...
2   3  ...                                  [bihday, majesty]
3   4  ...    [model, love, yoyou, take, yoyou, time, yoyour]
4   5  ...                  [factsguide, society, motivation]

[5 rows x 8 columns]

### Задача 1

In [23]:
nlp = spacy.load('en_core_web_sm')

In [28]:
cnt = Counter()

for ct in df['clean_tweet']:
  doc = nlp(ct)
  for e in doc.ents:
    cnt[(e.text, e.label_)] += 1

In [29]:
cnt.most_common(20)

[(('today', 'DATE'), 1580),
 (('bihday', 'DATE'), 1068),
 (('friday', 'DATE'), 645),
 (('tomorrow', 'DATE'), 585),
 (('first', 'ORDINAL'), 533),
 (('summer', 'DATE'), 496),
 (('sunday', 'DATE'), 487),
 (('one', 'CARDINAL'), 487),
 (('tonight', 'TIME'), 458),
 (('s day', 'DATE'), 452),
 (('fathersday', 'DATE'), 341),
 (('morning', 'TIME'), 312),
 (('saturday', 'DATE'), 311),
 (('monday', 'DATE'), 235),
 (('days', 'DATE'), 223),
 (('america', 'GPE'), 215),
 (('orlando', 'GPE'), 210),
 (('london', 'GPE'), 182),
 (('two', 'CARDINAL'), 181),
 (('june', 'DATE'), 175)]

Как мы видим, в топ 20 попали в основном даты и числительные. Немного географические локации

In [30]:
cnt.most_common(50)

[(('today', 'DATE'), 1580),
 (('bihday', 'DATE'), 1068),
 (('friday', 'DATE'), 645),
 (('tomorrow', 'DATE'), 585),
 (('first', 'ORDINAL'), 533),
 (('summer', 'DATE'), 496),
 (('sunday', 'DATE'), 487),
 (('one', 'CARDINAL'), 487),
 (('tonight', 'TIME'), 458),
 (('s day', 'DATE'), 452),
 (('fathersday', 'DATE'), 341),
 (('morning', 'TIME'), 312),
 (('saturday', 'DATE'), 311),
 (('monday', 'DATE'), 235),
 (('days', 'DATE'), 223),
 (('america', 'GPE'), 215),
 (('orlando', 'GPE'), 210),
 (('london', 'GPE'), 182),
 (('two', 'CARDINAL'), 181),
 (('june', 'DATE'), 175),
 (('thursday', 'DATE'), 169),
 (('the day', 'DATE'), 148),
 (('us', 'GPE'), 147),
 (('wednesday', 'DATE'), 136),
 (('yesterday', 'DATE'), 132),
 (('years', 'DATE'), 131),
 (('day', 'DATE'), 125),
 (('tbt', 'ORG'), 119),
 (('aww', 'ORG'), 118),
 (('weekend', 'DATE'), 112),
 (('this week', 'DATE'), 111),
 (('selfie', 'PERSON'), 110),
 (('tuesday', 'DATE'), 109),
 (('this morning', 'TIME'), 108),
 (('night', 'TIME'), 106),
 (('next week', 'DATE'), 106),
 (('weeks', 'DATE'), 103),
 (('last night', 'TIME'), 99),
 (('florida', 'GPE'), 97),
 (('this weekend', 'DATE'), 96),
 (('this year', 'DATE'), 94),
 (('daily', 'DATE'), 94),
 (('uk', 'GPE'), 92),
 (('july', 'DATE'), 82),
 (('japan', 'GPE'), 78),
 (('india', 'GPE'), 78),
 (('gop', 'ORG'), 76),
 (('hu', 'PERSON'), 72),
 (('miami', 'GPE'), 71),
 (('hours', 'TIME'), 70)]

В топ-50 поинтереснее, сюда в качестве персоны попал selfie

## Задание 2

In [42]:
#nltk.download('punkt')
#nltk.download('averaged_perceptron_tagger')
#nltk.download('maxent_ne_chunker')
#nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [60]:
nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize('birthday your Majesty')))

TclError: ignored

Tree('S', [('birthday', 'RB'), ('your', 'PRP$'), ('Majesty', 'NN')])

In [63]:
{(' '.join(c[0] for c in chunk), chunk.label() ) for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize('Hello Mr Andersson'))) if hasattr(chunk, 'label') }

{('Andersson', 'PERSON'), ('Hello', 'PERSON')}

In [49]:
for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(df['clean_tweet'][1]))):
  print(chunk)
  if hasattr(chunk, 'label'):
    print(' '.join(c[0] for c in chunk), chunk.label())

('ireland', 'VB')
('consumer', 'NN')
('price', 'NN')
('index', 'NN')
('mom', 'VBD')
('climbed', 'VBN')
('from', 'IN')
('previous', 'JJ')
('to', 'TO')
('in', 'IN')
('may', 'MD')
('blog', 'VB')
('silver', 'VB')
('gold', 'NN')
('forex', 'NN')

In [43]:
cnt2 = Counter()

for ct in df['clean_tweet']:
  for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(ct))):
    if hasattr(chunk, 'label'):
      cnt2[(' '.join(c[0] for c in chunk), chunk.label())] += 1

In [45]:
cnt2

Counter()